@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <div>
        <h3>Справочник причин</h3>
        <table>
            <tr class="header">
                <td><p>Причина</p></td>
                <td><p>Тип причины</p></td>
                <td><p>Действия</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Reasons)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.idType</p></td>
                    <td><p><a href="/Home/Add/@b.ReasonId">Добавить страждующего</a></p></td>
                </tr>
            }
        </table>
    </div>
