@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Справочник</title>
</head>
<body>
    <div>
        <h3>Справочник причин</h3>
        <table>
            <tr>
                <td><p>Причина</p></td>
                <td><p>Тип причины</p></td>
                <td><p>Действия</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Reasons)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.idType</p></td>
                    <td><p><a href="/Home/Add/@b.ReasonId">Добавить страждующего</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>